<link rel="stylesheet" href="style.css">
<div class="overlay">
  <div class="alert">

    <div class="bg"></div>

    <div class="sakura-field">
      <i class="sakura s1"></i>
      <i class="sakura s2"></i>
      <i class="sakura s3"></i>
      <i class="sakura s4"></i>
      <i class="sakura s5"></i>
      <i class="sakura s6"></i>
    </div>

    <div class="character">
      <img class="hiyuki" src="https://media1.tenor.com/m/RjqDQGM1fxoAAAAC/hiyuki-wuwa-kuchibayuri.gif">
    </div>

    <div class="content">

      <div class="headline">
        <span class="amount">{amount}</span>
        <span class="from"> Dari </span>
        <span class="donator">{donator}</span>
      </div>

      <div class="message">{message}</div>

      <div class="wishlist">{wishlist}</div>
      <div class="product">{top_up_product_name}</div>

      <img class="media" src="{media}">

    </div>

    <div class="accent"></div>

  </div>
</div>