<link rel="stylesheet" href="style.css">
<div class="overlay">
  <div class="alert">
    <div class="alert-frame" aria-hidden="true"></div>
    <div class="sakura-field" aria-hidden="true">
      <span class="sakura" style="--l:6%;--dur:6.2s;--del:0s;--dr:60px"></span>
      <span class="sakura" style="--l:24%;--dur:7.4s;--del:.9s;--dr:-40px"></span>
      <span class="sakura" style="--l:45%;--dur:6.8s;--del:1.8s;--dr:70px"></span>
      <span class="sakura" style="--l:66%;--dur:7s;--del:.6s;--dr:-55px"></span>
      <span class="sakura" style="--l:85%;--dur:6.5s;--del:2.4s;--dr:45px"></span>
      <span class="sakura" style="--l:14%;--dur:7.8s;--del:3.2s;--dr:-35px"></span>
      <span class="sakura" style="--l:77%;--dur:7.2s;--del:1.4s;--dr:50px"></span>
    </div>
    <div class="alert-decoration" aria-hidden="true">
      <span class="frost"></span>
      <span class="crimson-line"></span>
    </div>

    <div class="hiyuki-portrait">
      <div class="hiyuki-portrait-ring"></div>
      <img class="hiyuki-gif" src="https://media1.tenor.com/m/RjqDQGM1fxoAAAAC/hiyuki-wuwa-kuchibayuri.gif"
        alt="Hiyuki">
    </div>

    <div class="content" role="status" aria-live="polite" aria-atomic="true">
      <div class="donation-meta">
        <div class="amount">{amount}</div>
        <div class="donator">{donator}</div>
      </div>
      <div class="message">{message}</div>
      <div class="wishlist">{wishlist}</div>
      <div class="top-up-product">{top_up_product_name}</div>
      <img class="media" src="{media}" alt="">
    </div>
  </div>
</div>